<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Test_pages.Cart_page_test"/>
      <class name="Test_pages.checkout_page_test"/>
      <class name="Test_pages.Login_page_test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
